.side-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  border-right: 2px solid $secondary-dark;
  padding: 15px;
}

.side-bar__title {
  margin: 0;
}
body.light{
  .side-bar{
    border-right: 2px solid $burst;
  }
}


